<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Saviors</title>
</head>
<body class="bg-zinc-800 text-white">
    <div class="relative min-h-screen flex items-center justify-center px-4 select-none">
        <!-- BACKGROUND -->
        <div class="absolute inset-0 bg-[url(/images/mapbg.png)] bg-cover bg-center blur-[3px]"></div>
        <div class="absolute inset-0 bg-black/40"></div>

        <!-- FORM -->
        <form autocomplete="off" action="/upload" method="post" enctype="multipart/form-data" class="relative z-10 w-full max-w-sm bg-zinc-800 rounded-xl shadow-xl p-6 flex flex-col gap-4">
        <h2 class="text-lg md:text-xl font-bold text-center">Upload Your Profile Picture</h2>
        <input type="file" name="avatar" required class="w-full bg-zinc-900 text-zinc-300 rounded-lg px-4 py-2 border border-zinc-600 file:bg-emerald-300 file:text-black file:rounded file:px-4 file:py-1">
        <button id="reg" type="submit" class="h-10 bg-emerald-300 rounded-lg text-black font-bold hover:bg-emerald-400 transition">Upload</button>
        </form>
    </div>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>