.or{
    transform: translateX(-7px) translateY(8px);
}

*{
    scroll-behavior: smooth;
}

#navbar{
    box-shadow: 0px 3px 50px rgba(156, 156, 156, 0.219);
}

#profiles{
    box-shadow: 0px 3px 20px rgba(156, 156, 156, 0.219);
}

#render{
    text-shadow: 2px 2px 2px rgba(120, 120, 120, 0.374);
}