@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

#navbar{
    box-shadow: 0px 3px 50px rgba(156, 156, 156, 0.219);
}

#profiles{
    box-shadow: 0px 3px 20px rgba(156, 156, 156, 0.219);
}

#render{
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.374);
}

#openChat{
    background: #000000;
    background: linear-gradient(56deg, rgba(0, 0, 0, 1) 0%, rgba(9, 121, 117, 1) 71%, rgba(0, 255, 144, 1) 100%);
}

.box{
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: rgba(95, 158, 160, 0.222);
    border: 1px solid rgb(159, 159, 169);
    border-radius: 10px;
}

.usermsg, .botmsg{
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    line-height: 1.2;
    font-size: 0.8rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.usermsg{
    background: #00ad76;
    background: linear-gradient(56deg, rgba(0, 173, 118, 1) 0%, rgb(0, 99, 81) 100%);
    color: white;
    margin-left: auto;
    align-self: flex-end;
}

.usermsg img {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    margin-top: 6px;
}


.botmsg{
    background: #000000;
    background: linear-gradient(56deg, rgba(0, 0, 0, 1) 0%, rgba(59, 59, 59, 1) 100%, rgba(168, 168, 168, 1) 100%);
    color: white;
    align-self: flex-start;
}
